export PATH="$PWD/bin:$PATH"
export DOTFILE_ROOT="$PWD"
export GUILE_LOAD_PATH="$PWD:$GUILE_LOAD_PATH"
export HOSTNAME
export LOCK_FILE="channels.lock"

eval "$(./pre-inst-env guix shell --search-paths)"
use flake
